base/n8n-workflows/hca.json
{
  "name": "Level 2 — Hospitality Commerce Agent v4 (HCA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "312626f0-8a79-47d5-a89c-97e11ac09ff7",
      "name": "Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3168,
        528
      ],
      "webhookId": "c0be9919-f866-4cfd-9a21-5fa374dd085c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body || {};\nconst query = $input.item.json.query || {};\nconst channel = body.channel || query.channel || \"unknown\";\nlet sender_id, text, lang, phone_number_id;\nif (channel === \"website_widget\") {\n  sender_id = body.session_id;\n  text = (body.message || \"\").trim();\n  lang = body.lang || \"en\";\n} else if (channel === \"whatsapp\") {\n  sender_id = body.From || body.from;\n  text = (body.Body || body.body || \"\").trim();\n  lang = \"en\";\n} else if (channel === \"instagram\" || channel === \"facebook\") {\n  const entry = body.entry && body.entry[0];\n  const messaging = entry && (entry.messaging || (entry.changes && entry.changes[0] && entry.changes[0].value && entry.changes[0].value.messages));\n  const msg = messaging && messaging[0];\n  sender_id = msg && (msg.sender && msg.sender.id || msg.from);\n  text = (msg && msg.message && msg.message.text || \"\").trim();\n  lang = \"en\";\n} else if (channel === \"tawkto\") {\n  sender_id = body.chatId || (body.visitor && body.visitor.name);\n  text = (body.message && (body.message.text || body.message) || \"\").trim();\n  lang = \"en\";\n} else {\n  sender_id = \"unknown\";\n  text = (body.message || \"\").trim();\n  lang = \"en\";\n}\nreturn { json: {\n  session_id: body.session_id || sender_id || \"unknown\",\n  sender_id: sender_id || \"unknown\",\n  text: text,\n  channel: channel,\n  lang: lang,\n  hotel_slug: body.hotel_slug || \"hotel\",\\n  phone_number_id: phone_number_id || null,\n  timestamp: new Date().toISOString()\n} };"
      },
      "id": "17772060-89a9-4a8b-bcf0-b3f597d5ba35",
      "name": "Normalise Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1480,
        528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "hotel_info",
          "mode": "name"
        },
        "options": {}
      },
      "id": "1f5b1856-d307-4c27-aeac-e6656a0a176d",
      "name": "Fetch Hotel Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1240,
        528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "faq"
        },
        "options": {}
      },
      "id": "e2dd43b3-e34f-443b-ac75-fceaa7ed9ccd",
      "name": "Fetch FAQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1000,
        528
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "rooms"
        },
        "options": {}
      },
      "id": "c7e7ef1f-f6f1-49d1-8eee-e9cba18c5e2a",
      "name": "Fetch Rooms",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -760,
        528
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgData = $(\"Normalise Message\").first().json;\nconst hotelInfoItems = $(\"Fetch Hotel Info\").all();\nconst hotelInfo = {};\nfor (const item of hotelInfoItems) {\n  if (item.json.key && item.json.value !== undefined) {\n    hotelInfo[item.json.key] = String(item.json.value);\n  }\n}\nconst faqItems = $(\"Fetch FAQ\").all();\nconst faqs = faqItems\n  .filter(function(i) {\n    return i.json.active === true || i.json.active === \"TRUE\" || i.json.active === \"true\";\n  })\n  .map(function(i) {\n    return { category: i.json.category, question: i.json.question, answer: i.json.answer };\n  });\nconst roomItems = $(\"Fetch Rooms\").all();\nconst rooms = roomItems\n  .filter(function(i) {\n    return i.json.available === true || i.json.available === \"TRUE\" || i.json.available === \"true\";\n  })\n  .map(function(i) {\n    return { type: i.json.type, rate: i.json.rate_per_night, capacity: i.json.capacity, description: i.json.description, amenities: i.json.amenities };\n  });\nreturn [{ json: {\n  session_id: msgData.session_id,\n  sender_id: msgData.sender_id,\n  text: msgData.text,\n  channel: msgData.channel,\n  lang: msgData.lang,\n  hotel_slug: msgData.hotel_slug,\n  timestamp: msgData.timestamp,\n  hotelInfo: hotelInfo,\n  faqs: faqs,\n  rooms: rooms\n} }];"
      },
      "id": "5d86f9de-8c94-40c9-ae61-a24d36b18a39",
      "name": "Aggregate Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json || {};\nconst text = String(data.text || '');\n\nif (text.trim().length < 3) {\n  return { json: { ...data, lang: data.lang || 'en' } };\n}\n\n// STEP 1: Unicode range detection (non-Latin scripts — near 100% accurate)\nconst scriptRanges = [\n  { lang: 'ar', regex: /[\\u0600-\\u06FF]/ },\n  { lang: 'zh', regex: /[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/ },\n  { lang: 'ja', regex: /[\\u3040-\\u309F\\u30A0-\\u30FF]/ },\n  { lang: 'ko', regex: /[\\uAC00-\\uD7AF]/ },\n  { lang: 'ru', regex: /[\\u0400-\\u04FF]/ },\n  { lang: 'th', regex: /[\\u0E00-\\u0E7F]/ },\n  { lang: 'he', regex: /[\\u0590-\\u05FF]/ },\n  { lang: 'el', regex: /[\\u0370-\\u03FF]/ },\n  { lang: 'hi', regex: /[\\u0900-\\u097F]/ },\n];\nfor (const script of scriptRanges) {\n  if (script.regex.test(text)) {\n    return { json: { ...data, lang: script.lang } };\n  }\n}\n\nconst tLower = text.toLowerCase();\n\n// STEP 2: Tier 1 — unique multi-word phrases (1 match = definite detection)\n// These phrases are impossible in English\nconst tier1 = {\n  fr: [\"bonjour\",\"bonsoir\",\"merci beaucoup\",\"s'il vous\",\"je voudrais\",\"je suis\",\"chambre disponible\",\"comment allez\",\"bienvenue\",\"qu'est-ce\"],\n  es: [\"hola\",\"buenos dias\",\"buenas tardes\",\"buenas noches\",\"gracias\",\"habitacion\",\"desayuno incluido\",\"por favor\",\"como estas\"],\n  de: [\"guten morgen\",\"guten tag\",\"guten abend\",\"danke schon\",\"ich mochte\",\"wie viel kostet\",\"zimmer frei\",\"auf wiedersehen\"],\n  it: [\"buongiorno\",\"buonasera\",\"grazie mille\",\"vorrei prenotare\",\"camera disponibile\",\"buona notte\",\"prego\"],\n  pt: [\"bom dia\",\"boa tarde\",\"boa noite\",\"obrigado\",\"obrigada\",\"quarto disponivel\",\"cafe da manha\",\"bem-vindo\"],\n  nl: [\"goedemorgen\",\"goedemiddag\",\"dank u wel\",\"kamer beschikbaar\",\"alstublieft\",\"goedenavond\"],\n  tr: [\"gunaydin\",\"iyi aksamlar\",\"tesekku ederim\",\"oda musait\",\"rezervasyon yapmak\",\"hosgeldiniz\"],\n};\nfor (const lang in tier1) {\n  for (const phrase of tier1[lang]) {\n    if (tLower.includes(phrase)) {\n      return { json: { ...data, lang: lang } };\n    }\n  }\n}\n\n// STEP 3: Tier 2 — weighted function words (min 3 matches required to avoid false positives)\n// Words chosen to NOT overlap with common English words\nconst tier2 = {\n  fr: ['les','est','qui','que','pour','avec','nous','vous','ils','elles','une','des','pas','sur','tres','mais','donc','bien','tout','alors','cette','aussi','quoi','quel','quelle','notre','votre','leur'],\n  es: ['los','las','del','para','con','pero','hay','muy','como','cuando','donde','porque','tambien','todo','este','esta','tiene','tienen','hacer','nosotros','vosotros','ellos','ellas'],\n  de: ['und','ist','nicht','auch','noch','dann','beim','nach','mehr','kann','will','sind','war','wird','habe','haben','mein','meine','keine','ihnen','ihrer','seine','unsere'],\n  it: ['gli','sono','hanno','questo','questa','tutto','tutti','come','dove','quando','anche','pero','cosi','molto','bene','loro','siamo','avere','essere','nostro','vostro'],\n  pt: ['sao','tem','com','por','para','tambem','quando','como','tudo','muito','aqui','nosso','nossa','voce','voces','eles','elas','sera','estar','fazer'],\n  nl: ['het','zijn','heeft','niet','ook','meer','dan','nog','maar','want','omdat','toen','voor','door','over','naar','uit','bij','aan','van','wij','zij','jullie'],\n  tr: ['var','yok','icin','gibi','ama','daha','cok','nasil','nerede','zaman','cunku','birlikte','hepsi','hic','bile','sadece','kadar','butun','olmak','etmek'],\n};\nconst wordTokens = tLower.split(/\\s+/);\nconst scores = {};\nfor (const lang in tier2) {\n  let score = 0;\n  for (const word of wordTokens) {\n    const clean = word.replace(/[^a-z\\u00e0-\\u017e]/gi, '');\n    if (tier2[lang].includes(clean)) score++;\n  }\n  scores[lang] = score;\n}\nconst THRESHOLD = 3;\nlet bestLang = 'en';\nlet bestScore = 0;\nfor (const lang in scores) {\n  if (scores[lang] >= THRESHOLD && scores[lang] > bestScore) {\n    bestScore = scores[lang];\n    bestLang = lang;\n  }\n}\nreturn { json: { ...data, lang: bestLang } };"
      },
      "id": "962f4e76-58e6-4cad-8b9e-5f5fc4f9ea34",
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json || {};\nconst hi = data.hotelInfo || {};\nconst faqs = data.faqs || [];\nconst rooms = data.rooms || [];\nconst sym = hi.currency_symbol || '';\n\nconst faqText = faqs.length > 0\n  ? faqs.map(function(f) { return 'Q: ' + f.question + '\\nA: ' + f.answer; }).join('\\n\\n')\n  : 'No specific FAQs configured.';\n\nconst roomsText = rooms.length > 0\n  ? rooms.map(function(r) {\n      return '- ' + r.type + ': ' + sym + r.rate + '/night, sleeps ' + r.capacity + '. ' + r.description + ' Amenities: ' + r.amenities;\n    }).join('\\n')\n  : 'Room information not available.';\n\nconst systemPrompt =\n  'You are the friendly concierge assistant for ' + (hi.hotel_name || 'our hotel') + '. You help guests warmly and professionally.\\n\\n' +\n  'HOTEL DETAILS:\\n' +\n  'Name: ' + (hi.hotel_name || '') + '\\n' +\n  'Address: ' + (hi.address || '') + '\\n' +\n  'Phone: ' + (hi.phone || '') + '\\n' +\n  'Check-in: ' + (hi.checkin_time || '') + '\\n' +\n  'Check-out: ' + (hi.checkout_time || '') + '\\n' +\n  'Booking URL: ' + (hi.booking_url || '') + '\\n' +\n  'WhatsApp: ' + (hi.whatsapp_number || '') + '\\n\\n' +\n  'AVAILABLE ROOMS:\\n' + roomsText + '\\n\\n' +\n  'FREQUENTLY ASKED QUESTIONS:\\n' + faqText + '\\n\\n' +\n  'RESPONSE INSTRUCTIONS:\\n' +\n  '- Be warm, conversational, and genuinely helpful. Never sound robotic or scripted.\\n' +\n  '- Only answer using hotel information above. Never invent or assume details.\\n' +\n  '- Keep replies concise (2-4 sentences) unless more detail is genuinely needed.\\n' +\n  '- For bookings, direct guest to ' + (hi.booking_url || 'our website') + ' or WhatsApp ' + (hi.whatsapp_number || '') + '.\\n' +\n  '- If you cannot answer from the information given, warmly say so and offer the phone number: ' + (hi.phone || '') + '.\\n\\n' +\n  \n  'HCA INTENTS INSTRUCTIONS:\\n' +\n  '- If the guest explicitly asks to order food, drinks, or room service: append [ORDER_INTENT: category=f&b]\\n' +\n  '- If the guest explicitly asks to book a spa service or massage: append [ORDER_INTENT: category=spa]\\n' +\n  '- If the guest asks for transport or a car: append [ORDER_INTENT: category=transport]\\n' +\n  '- If the guest asks for laundry service: append [SERVICE_INTENT: type=laundry]\\n' +\n  '- If the guest asks for housekeeping (towels, cleaning, pillows): append [SERVICE_INTENT: type=housekeeping]\\n' +\n  '- If the guest asks for a wake-up call: append [SERVICE_INTENT: type=wakeup]\\n' +\n  '- If the guest asks to book a restaurant table: append [SERVICE_INTENT: type=restaurant]\\n' +\n  '- If the guest asks to book a room, check live availability, or make a reservation: append [BOOKING_INTENT]\\n\\n' +\n  'LEAD CAPTURE INSTRUCTIONS:\\n' +\n  '- When a guest asks about rooms, availability, prices, or bookings, naturally and warmly collect: their full name, email address, phone number (optional), check-in date, and check-out date. Collect one piece at a time — never ask for everything at once.\\n' +\n  '- Once you have at minimum a name AND one contact method (email or phone), append the following on a brand new line at the very END of your response. The guest will NEVER see this tag — it is stripped before delivery:\\n' +\n  '[LEAD: name=Full Name, email=email@example.com, phone=+1234567890, checkin=YYYY-MM-DD, checkout=YYYY-MM-DD]\\n' +\n  '- Only include fields you have actually collected. Omit fields you do not have. Never fabricate lead data.\\n' +\n  '- Only append the [LEAD] tag once you have at minimum name + email OR phone.\\n\\n' +\n  'HANDOFF INSTRUCTIONS:\\n' +\n  '- If the guest explicitly asks to speak to a human, agent, manager, or real person: begin your response with exactly [HANDOFF_REQUIRED] then write a warm holding message. Example: [HANDOFF_REQUIRED] Of course! Let me connect you with a member of our team right away — please hold for just a moment.\\n' +\n  '- If the guest expresses clear frustration, anger, or serious complaint: begin with [HANDOFF_REQUIRED] and acknowledge warmly.\\n' +\n  '- If the request is legal, medical, or operationally beyond your scope: begin with [HANDOFF_REQUIRED].\\n' +\n  '- In ALL other cases, do NOT include [HANDOFF_REQUIRED] in your response.\\n\\n' +\n  '- Guest language detected: ' + (data.lang || 'en') + '. If not English, reply in the detected language.';\n\n\nconst history = data.conversation_history || [];\nconst historyText = history.length > 0\n  ? '\\nCONVERSATION HISTORY (last ' + history.length + ' turns):\\n' +\n    history.map(function(t) { return '[' + (t.role === 'assistant' ? 'Assistant' : 'Guest') + ']: ' + t.content; }).join('\\n') + '\\n'\n  : '';\n  systemPrompt = systemPrompt.replace('FREQUENTLY ASKED QUESTIONS', historyText + 'FREQUENTLY ASKED QUESTIONS');\nreturn { json: { ...data, systemPrompt: systemPrompt } };"
      },
      "id": "3fe21c7f-32d1-40ce-baa9-c52b056d3d7d",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        528
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Build System Prompt').item.json.text }}",
        "options": {
          "systemMessage": "={{ $('Build System Prompt').item.json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        420,
        528
      ],
      "id": "77b7ad2a-a9f6-495b-82a1-31c0f74b88ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        420,
        752
      ],
      "id": "57d2212e-c7ca-4cf5-90e9-8bbecd0f7a24",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uRHZ9bVcC1FFDAji",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_id"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        548,
        752
      ],
      "id": "64acbfb9-d1b4-452a-8505-3a629c643416",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agentRaw = $input.item.json;\nconst origData = $('Build System Prompt').item.json;\n\n// Parse AI output — LangChain Agent outputs to 'output' field\nlet rawContent = null;\nif (agentRaw.output !== undefined && agentRaw.output !== null && String(agentRaw.output).trim() !== '') {\n  rawContent = String(agentRaw.output);\n} else if (agentRaw.choices) {\n  rawContent = (agentRaw.choices[0] && agentRaw.choices[0].message && agentRaw.choices[0].message.content) || null;\n} else if (agentRaw.data && agentRaw.data.choices) {\n  rawContent = (agentRaw.data.choices[0] && agentRaw.data.choices[0].message && agentRaw.data.choices[0].message.content) || null;\n} else if (typeof agentRaw.data === 'string') {\n  try { rawContent = JSON.parse(agentRaw.data).choices[0].message.content; } catch(e) {}\n}\n\nconst fallbackReply = \"I apologize, I'm having a technical issue right now. Please contact us at \" +\n  ((origData.hotelInfo && origData.hotelInfo.phone) || 'reception') + ' and we will be happy to help.';\n\nlet reply = rawContent || fallbackReply;\n\n// ── Parse HANDOFF tag ────────────────────────────────────────────────────────\nlet handoff_required = false;\nif (reply.includes('[HANDOFF_REQUIRED]')) {\n  handoff_required = true;\n  reply = reply.replace('[HANDOFF_REQUIRED]', '').trim();\n}\n\n// Keyword safety net — catches explicit requests the AI may have missed\nconst guestText = (origData.text || '').toLowerCase();\nconst humanKeywords = [\n  'speak to someone','talk to someone','human please','real person',\n  'live agent','speak with a person','customer service','manager please',\n  'need a human','want to speak','talk to a person','let me speak',\n  'speak to a manager','talk to manager','speak to staff','transfer me'\n];\nif (!handoff_required && humanKeywords.some(function(kw) { return guestText.includes(kw); })) {\n  handoff_required = true;\n  reply = \"Of course! Let me connect you with a member of our team right away. Please hold for just a moment — they'll be with you shortly.\";\n}\n\n\n// Parse ORDER_INTENT\nlet order_intent = null;\nconst orderMatch = reply.match(/\\[ORDER_INTENT:\\s*category=([^\\]]+)\\]/);\nif (orderMatch) {\n  order_intent = orderMatch[1].trim();\n  reply = reply.replace(/\\[ORDER_INTENT:[^\\]]+\\]/g,'').trim();\n}\n\n// Parse SERVICE_INTENT\nlet service_intent = null;\nconst svcMatch = reply.match(/\\[SERVICE_INTENT:\\s*type=([^\\]]+)\\]/);\nif (svcMatch) {\n  service_intent = svcMatch[1].trim();\n  reply = reply.replace(/\\[SERVICE_INTENT:[^\\]]+\\]/g,'').trim();\n}\n\n// Parse BOOKING_INTENT\nlet booking_intent = false;\nif (reply.includes('[BOOKING_INTENT]')) {\n  booking_intent = true;\n  reply = reply.replace('[BOOKING_INTENT]', '').trim();\n}\n  \\n// ── Parse LEAD tag ────────────────────────────────────────────────────────────\nlet lead_captured = false;\nlet lead_data = null;\nconst leadMatch = reply.match(/\\[LEAD:\\s*([^\\]]+)\\]/);\nif (leadMatch) {\n  lead_captured = true;\n  const parts = leadMatch[1];\n  const extract = function(key) {\n    const m = parts.match(new RegExp(key + '=([^,\\\\]]+)'));\n    return m ? m[1].trim() : null;\n  };\n  lead_data = {\n    name: extract('name'),\n    email: extract('email'),\n    phone: extract('phone'),\n    checkin: extract('checkin'),\n    checkout: extract('checkout'),\n  };\n  // Strip tag — guest never sees it\n  reply = reply.replace(/\\[LEAD:[^\\]]+\\]/g, '').trim();\n}\n\nconst response_ms = Date.now() - new Date(origData.timestamp || Date.now()).getTime();\nconst intent = handoff_required ? 'handoff' : lead_captured ? 'booking_enquiry' : 'faq';\nreturn {\n  json: {\n    session_id: origData.session_id,\n    sender_id: origData.sender_id,\n    channel: origData.channel,\n    lang: origData.lang,\n    hotel_slug: origData.hotel_slug,\n    hotelInfo: origData.hotelInfo || {},\n    text: origData.text || '',\n    timestamp: origData.timestamp || new Date().toISOString(),\n    reply: reply,\n    handoff_required: handoff_required,\n    order_intent: order_intent,\n    service_intent: service_intent,\n    booking_intent: booking_intent,\n    lead_captured: lead_captured,\n    lead_data: lead_data,\n    response_ms: response_ms,\n    intent: intent\n  }\n};"
      },
      "id": "c2bfcc84-56c6-47cd-8db1-1ceb322405be",
      "name": "Extract AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_captured }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "lead-captured-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lead Captured"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Lead"
        }
      },
      "id": "4f913ae5-083f-4f67-9ad0-6dcdf98013b1",
      "name": "Lead Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1860,
        528
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "hotel_slug": "={{ $json.hotel_slug }}",
            "name": "={{ $json.lead_data && $json.lead_data.name || '' }}",
            "email": "={{ $json.lead_data && $json.lead_data.email || '' }}",
            "phone": "={{ $json.lead_data && $json.lead_data.phone || '' }}",
            "checkin": "={{ $json.lead_data && $json.lead_data.checkin || '' }}",
            "checkout": "={{ $json.lead_data && $json.lead_data.checkout || '' }}",
            "channel": "={{ $json.channel }}",
            "timestamp": "={{ $json.timestamp || new Date().toISOString() }}",
            "status": "captured"
          }
        },
        "options": {}
      },
      "id": "73f900f7-0166-48c7-9aaa-c359cc0488fe",
      "name": "Write Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2100,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract AI Reply').item.json.handoff_required }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "handoff-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs Handoff"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Handoff"
        }
      },
      "id": "8fa3416d-9e39-4cca-892c-655f0e693f30",
      "name": "Handoff Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2340,
        528
      ]
    },
    {
      "id": "8fa3416d-9e39-4cca-892c-655f0e693f30_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "fromEmail": "noreply@youragency.com",
        "toEmail": "={{ $('Extract AI Reply').item.json.hotelInfo && $('Extract AI Reply').item.json.hotelInfo.rep_email || '' }}",
        "subject": "={{ '\\ud83d\\udea8 Guest Needs Assistance \\u2014 ' + $('Extract AI Reply').item.json.hotel_slug + ' | ' + $('Extract AI Reply').item.json.channel }}",
        "options": {}
      },
      "id": "f97c5e97-9c46-49d1-b1f7-d3a5156c7749",
      "name": "Send Handoff Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2580,
        176
      ],
      "notesInFlow": true,
      "webhookId": "77b00f71-e25b-40ea-a7a2-cb4f41b33247",
      "credentials": {
        "smtp": {
          "id": "lXYYmrle92yqxCh3",
          "name": "SMTP account"
        }
      },
      "notes": "Configure SMTP credentials in n8n Credentials. Add rep_email row to hotel_info Google Sheet."
    },
    {
      "id": "f97c5e97-9c46-49d1-b1f7-d3a5156c7749_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Email node response discarded — restore clean guest data from Extract AI Reply\nconst orig = $('Extract AI Reply').item.json;\nreturn { json: orig };"
      },
      "id": "f96cbb7e-6526-40c5-b41d-d1541de9729b",
      "name": "Restore Handoff Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        176
      ]
    },
    {
      "id": "f96cbb7e-6526-40c5-b41d-d1541de9729b_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "website_widget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-widget"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Widget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-whatsapp"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-meta_ig"
                  },
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-meta_fb"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "tawkto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-tawkto"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tawkto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unknown Channel"
        }
      },
      "id": "4cf83478-d331-432d-9323-9330faadbc40",
      "name": "Handoff Channel Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3060,
        128
      ]
    },
    {
      "id": "4cf83478-d331-432d-9323-9330faadbc40_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('Extract AI Reply').item.json.reply, \"handoff\": true, \"agent_joining\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "47b6aff2-1b1f-46c6-8353-5e70f564ac7e",
      "name": "Widget Handoff Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3300,
        -48
      ]
    },
    {
      "id": "47b6aff2-1b1f-46c6-8353-5e70f564ac7e_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENBSP_BASE_URL }}/rest/v1/messages",
        "sendBody": true,
        "contentType": "json",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.OPENBSP_PUBLISHABLE_KEY }}"
            },
            {
              "name": "api-key",
              "value": "={{ $env.OPENBSP_OWNER_API_KEY }}"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: \"whatsapp\", recipient_type: \"individual\", to: $(\"Extract AI Reply\").item.json.sender_id, type: \"text\", text: { body: $(\"Extract AI Reply\").item.json.reply }, phone_number_id: $(\"Normalise Message\").item.json.phone_number_id } }}"
      },
      "id": "54fc8c78-3c7c-4027-94ad-408385887986",
      "name": "WhatsApp Handoff Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3300,
        144
      ]
    },
    {
      "id": "54fc8c78-3c7c-4027-94ad-408385887986_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "id": "43270979-cd0b-419e-8e0f-f1e477274a8d",
      "name": "OpenBSP Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3300,
        336
      ],
      "parameters": {
        "method": "POST",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"type\":\"text\",\"channel_id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"text\":\"={{ $json.reply || $json.message }}\",\"direction\":\"outgoing\"}"
      },
      "notes": "Patched by patch-n8n.js — replaces direct Meta Graph API call with OpenBSP unified send endpoint."
    },
    {
      "id": "43270979-cd0b-419e-8e0f-f1e477274a8d_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.tawk.to/v1/chat/' + $('Extract AI Reply').item.json.sender_id + '/message' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Extract AI Reply').item.json.reply, \"type\": \"msg\" } }}",
        "options": {}
      },
      "id": "e56c96d4-728d-4948-9dc8-a6f5c04632a9",
      "name": "Tawkto Handoff Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3300,
        528
      ]
    },
    {
      "id": "e56c96d4-728d-4948-9dc8-a6f5c04632a9_openbsp_pause",
      "name": "OpenBSP Pause Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"paused\":true}"
      },
      "notes": "Patched by patch-n8n.js — pauses the OpenBSP conversation after handoff so the bot stops replying."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "website_widget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-widget"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Widget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-whatsapp"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-ig"
                  },
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-fb"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "tawkto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-tawkto"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tawkto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unknown Channel"
        }
      },
      "id": "753bf48e-14d3-471c-9616-91fc589943ff",
      "name": "Channel Reply Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2580,
        672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('Extract AI Reply').item.json.reply, \"feedback_eligible\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "58ab1857-785d-4cb0-8991-9ad6f07bad5d",
      "name": "Widget Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2820,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENBSP_BASE_URL }}/rest/v1/messages",
        "sendBody": true,
        "contentType": "json",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.OPENBSP_PUBLISHABLE_KEY }}"
            },
            {
              "name": "api-key",
              "value": "={{ $env.OPENBSP_OWNER_API_KEY }}"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: \"whatsapp\", recipient_type: \"individual\", to: $(\"Extract AI Reply\").item.json.sender_id, type: \"text\", text: { body: $(\"Extract AI Reply\").item.json.reply }, phone_number_id: $(\"Normalise Message\").item.json.phone_number_id } }}"
      },
      "id": "d75597dc-b6b2-4deb-b260-0ee8b6206a06",
      "name": "WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2820,
        560
      ]
    },
    {
      "id": "4083b451-2e26-4359-a652-2f899709ce04",
      "name": "OpenBSP Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2820,
        752
      ],
      "parameters": {
        "method": "POST",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"type\":\"text\",\"channel_id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"text\":\"={{ $json.reply || $json.message }}\",\"direction\":\"outgoing\"}"
      },
      "notes": "Patched by patch-n8n.js — replaces direct Meta Graph API call with OpenBSP unified send endpoint."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.tawk.to/v1/chat/' + $('Extract AI Reply').item.json.sender_id + '/message' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Extract AI Reply').item.json.reply, \"type\": \"msg\" } }}",
        "options": {}
      },
      "id": "00729e9e-b2c5-4c1e-937a-96adb6c56228",
      "name": "Tawkto Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2820,
        944
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── WEBHOOK SIGNATURE VALIDATION [HARDENING: Security] ───────────────────────\n// Bypass mode (dev). Set BYPASS=false and configure per-channel HMAC when\n// channel credentials are live.\n// Twilio: X-Twilio-Signature (HMAC-SHA1 of URL + sorted POST params)\n// Meta:   X-Hub-Signature-256 (HMAC-SHA256 of raw body with app secret)\n// Widget: X-Widget-Token (shared secret from client .env)\nconst headers = $input.item.json.headers || {};\nconst body    = $input.item.json.body    || {};\nconst BYPASS  = true; // TODO: flip to false when channel creds are live\nreturn { json: { ...$input.item.json, signature_valid: BYPASS || false, sig_bypass: BYPASS } };"
      },
      "id": "6487bc1f-bfb3-4b0d-80aa-513c55165d93",
      "name": "Validate Webhook Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2920,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.signature_valid }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "b0d5862e-104d-4721-aa54-f5bd3f6c470d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Invalid"
        }
      },
      "id": "946820d3-33a5-4f67-89e9-8dbc8528c446",
      "name": "Signature Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2680,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Unauthorized\", \"code\": 401 } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "602462ed-2d77-4611-a533-dbbb01d54f5e",
      "name": "Signature Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2680,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── RATE LIMITING [HARDENING: Abuse Protection] ──────────────────────────────\n// Sliding window using n8n static workflow data. Moves to Redis in Phase 2.\n// Limits: 20 msg/min per sender | 100 msg/min per hotel\nconst s    = $getWorkflowStaticData('global');\nconst body = $input.item.json.body || {};\nconst now  = Date.now();\nconst WIN  = 60000;\nif (!s.rl) s.rl = {};\nconst bump = (k, max) => {\n  const w = s.rl[k] || { n: 0, t: now };\n  if (now - w.t > WIN) { w.n = 0; w.t = now; }\n  w.n++; s.rl[k] = w;\n  return w.n > max;\n};\nconst sid   = String(body.session_id  || 'unknown');\nconst hotel = String(body.hotel_slug  || 'unknown');\nconst se    = bump('s:' + sid,   20);\nconst he    = bump('h:' + hotel, 100);\nreturn { json: { ...$input.item.json, rate_exceeded: se || he, rate_reason: se ? 'sender' : he ? 'hotel' : null } };"
      },
      "id": "37c50d50-4776-4771-a131-464efda869e6",
      "name": "Rate Limit Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2440,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.rate_exceeded }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cd620e97-000a-46e1-9dba-53359ce2cc6f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exceeded"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "OK"
        }
      },
      "id": "1328d1bd-a8b2-4cf4-9d9d-273605be246f",
      "name": "Rate Limit Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2200,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Too Many Requests\", \"retry_after\": 60 } }}",
        "options": {
          "responseCode": 429
        }
      },
      "id": "3477467d-2070-490f-b269-e0c74589ea60",
      "name": "Rate Limit Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2200,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── CHECK FEEDBACK PENDING [HARDENING: Feedback Collection] ─────────────────\n// If the guest sent feedback (1-5 reply), capture it and store.\n// If feedback is pending AND 5+ min have passed, intercept the next message\n// to collect the feedback rating before processing the actual request.\nconst s   = $getWorkflowStaticData('global');\nconst body = $input.item.json.body || {};\nconst sid  = body.session_id || 'unknown';\nconst fp   = (s.feedbackPending || {})[sid];\nconst DELAY = 5 * 60 * 1000; // 5 minutes\nlet feedback_due  = false;\nlet feedback_data = null;\nif (fp && fp.pending && (Date.now() - fp.set_at) >= DELAY) {\n  feedback_due  = true;\n  feedback_data = fp;\n  if (!s.feedbackPending) s.feedbackPending = {};\n  delete s.feedbackPending[sid];\n}\nreturn { json: { ...$input.item.json, feedback_due, feedback_data } };"
      },
      "id": "973a7d26-36b0-40cc-a80e-5e9fb51949e5",
      "name": "Check Feedback Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.feedback_due }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "23015c9a-58b8-4576-9773-2ba980957222"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feedback Due"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Continue"
        }
      },
      "id": "d8c92173-6776-4496-8e9a-5db35f66b41f",
      "name": "Feedback Due Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1720,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare the feedback message to send to guest\nconst d    = $input.item.json;\nconst fd   = d.feedback_data || {};\nconst hotel = fd.hotel_slug || 'us';\nreturn { json: {\n  session_id: d.body && d.body.session_id || fd.session_id || 'unknown',\n  sender_id:  fd.sender_id || 'unknown',\n  channel:    fd.channel   || 'unknown',\n  hotel_slug: fd.hotel_slug || 'hotel',\n  hotelInfo:  {},\n  reply: 'Hi! Thank you for chatting with us today. How would you rate your experience?\\n\\n' +\n         '⭐ Please reply with a number 1 to 5 (5 = excellent)\\n\\n' +\n         'Your feedback helps us serve you better. We hope to welcome you soon! 🙏',\n  is_feedback_request: true,\n  handoff_required: false, lead_captured: false, lead_data: null\n} };"
      },
      "id": "4883b3f0-a81b-4876-a976-cb775c3e634b",
      "name": "Prepare Feedback Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1720,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__SUPABASE__: https://YOUR_PROJECT.supabase.co>/rest/v1/feedback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<__SUPABASE_ANON_KEY__>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <__SUPABASE_SERVICE_ROLE_KEY__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"session_id\": $('Prepare Feedback Request').item.json.session_id, \"hotel_slug\": $('Prepare Feedback Request').item.json.hotel_slug, \"channel\": $('Prepare Feedback Request').item.json.channel, \"status\": \"awaiting_rating\", \"created_at\": new Date().toISOString() } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "04539eba-8fae-4876-b0d2-21f0ae00c004",
      "name": "Save Feedback Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1480,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={ $('Prepare Feedback Request').item.json.channel }",
                    "rightValue": "website_widget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "432f9be1-c845-4d50-aa3c-00fc5c9035e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Widget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={ $('Prepare Feedback Request').item.json.channel }",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a2a31b46-2326-4a54-acb8-a2941fffe3d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={ $('Prepare Feedback Request').item.json.channel }",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8d923e0f-8ac9-453a-869a-531fa2dea0d5"
                  },
                  {
                    "leftValue": "={ $('Prepare Feedback Request').item.json.channel }",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a868d8f4-87a6-4200-97ce-2dd9abc3131a"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={ $('Prepare Feedback Request').item.json.channel }",
                    "rightValue": "tawkto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "029a8d62-d8b3-45a5-a7ba-2e3999f5a914"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tawkto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unknown"
        }
      },
      "id": "76876d72-2c63-4408-8d28-082f5478d66c",
      "name": "Feedback Channel Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1240,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('Prepare Feedback Request').item.json.reply, \"is_feedback\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2e35dd7f-c436-4305-861e-669bcb3628c6",
      "name": "Widget Feedback Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1000,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENBSP_BASE_URL }}/rest/v1/messages",
        "sendBody": true,
        "contentType": "json",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.OPENBSP_PUBLISHABLE_KEY }}"
            },
            {
              "name": "api-key",
              "value": "={{ $env.OPENBSP_OWNER_API_KEY }}"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: \"whatsapp\", recipient_type: \"individual\", to: $(\"Prepare Feedback Request\").item.json.sender_id, type: \"text\", text: { body: $(\"Prepare Feedback Request\").item.json.reply }, phone_number_id: $(\"Normalise Message\").item.json.phone_number_id } }}"
      },
      "id": "b4992918-0d70-4579-b8ab-69aff40550f0",
      "name": "WhatsApp Feedback Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1000,
        240
      ]
    },
    {
      "id": "27ec0331-da7d-440e-b56c-d846ba4d30d8",
      "name": "OpenBSP Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1000,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "{{$env.OPENBSP_API_URL}}/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "{{$env.OPENBSP_OWNER_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\"type\":\"text\",\"channel_id\":\"={{ $json.channel_id || $json.wa_id || $json.ig_id }}\",\"text\":\"={{ $json.reply || $json.message }}\",\"direction\":\"outgoing\"}"
      },
      "notes": "Patched by patch-n8n.js — replaces direct Meta Graph API call with OpenBSP unified send endpoint."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.tawk.to/v1/chat/' + $('Prepare Feedback Request').item.json.sender_id + '/message' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Prepare Feedback Request').item.json.reply, \"type\": \"msg\" } }}",
        "options": {}
      },
      "id": "b3e9c68a-bd41-405a-bbac-0e181ed0b004",
      "name": "Tawkto Feedback Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1000,
        640
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ '<__SUPABASE__: https://YOUR_PROJECT.supabase.co>/rest/v1/conversations?session_id=eq.' + $json.session_id + '&order=created_at.asc&limit=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<__SUPABASE_ANON_KEY__>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <__SUPABASE_SERVICE_ROLE_KEY__>"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "75e1e5da-3b71-467a-a6d4-d67801ae6512",
      "name": "Load Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -280,
        780
      ],
      "notes": "HARDENING: Loads conversation history from Supabase. Non-blocking."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract conversation history from Supabase response\nconst response  = $input.item.json;\nconst prev      = $('Detect Language').item.json;\nlet history = [];\ntry {\n  const turns = Array.isArray(response) ? response : [];\n  history = turns.slice(-10).map(t => ({ role: t.role || 'user', content: t.content || '' }));\n} catch(e) { /* non-blocking — continue without history */ }\nreturn { json: { ...prev, conversation_history: history } };"
      },
      "id": "5a31b399-e6d9-4b9a-9247-e3df38e31450",
      "name": "Extract History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__SUPABASE__: https://YOUR_PROJECT.supabase.co>/rest/v1/message_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<__SUPABASE_ANON_KEY__>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <__SUPABASE_SERVICE_ROLE_KEY__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"client_id\": $('Extract AI Reply').item.json.hotel_slug, \"session_id\": $('Extract AI Reply').item.json.session_id, \"channel\": $('Extract AI Reply').item.json.channel, \"intent\": $('Extract AI Reply').item.json.intent, \"lang\": $('Extract AI Reply').item.json.lang, \"response_ms\": $('Extract AI Reply').item.json.response_ms, \"created_at\": $('Extract AI Reply').item.json.timestamp } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5065f406-dacf-4cf9-a292-bcc55122aaf8",
      "name": "Log Message Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        900,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__SUPABASE__: https://YOUR_PROJECT.supabase.co>/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<__SUPABASE_ANON_KEY__>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <__SUPABASE_SERVICE_ROLE_KEY__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"session_id\": $('Extract AI Reply').item.json.session_id, \"client_id\": $('Extract AI Reply').item.json.hotel_slug, \"channel\": $('Extract AI Reply').item.json.channel, \"role\": \"user\", \"content\": $('Extract AI Reply').item.json.text, \"created_at\": $('Extract AI Reply').item.json.timestamp } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "51ee5ca8-8793-4b1f-915e-de19d96ef777",
      "name": "Save Guest Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1140,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__SUPABASE__: https://YOUR_PROJECT.supabase.co>/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<__SUPABASE_ANON_KEY__>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <__SUPABASE_SERVICE_ROLE_KEY__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"session_id\": $('Extract AI Reply').item.json.session_id, \"client_id\": $('Extract AI Reply').item.json.hotel_slug, \"channel\": $('Extract AI Reply').item.json.channel, \"role\": \"assistant\", \"content\": $('Extract AI Reply').item.json.reply, \"created_at\": new Date().toISOString() } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c86e0e52-81dd-4a34-8843-eb6cc24fe405",
      "name": "Save Bot Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1380,
        528
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── FEEDBACK SCHEDULER [HARDENING: Feedback Collection] ─────────────────────\nconst s    = $getWorkflowStaticData('global');\nconst data = $input.item.json;\nif (!s.feedbackPending) s.feedbackPending = {};\n// Only schedule feedback for non-handoff conversations\nif (!data.handoff_required) {\n  s.feedbackPending[data.session_id] = {\n    pending:    true,\n    channel:    data.channel,\n    hotel_slug: data.hotel_slug,\n    sender_id:  data.sender_id,\n    set_at:     Date.now()\n  };\n}\nreturn { json: { ...data, feedback_eligible: !data.handoff_required } };"
      },
      "id": "98292065-f8f7-41d8-8c5e-a37e1abdece7",
      "name": "Feedback Scheduler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.order_intent !== null }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Order Intent"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.service_intent !== null }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Service Intent"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "leftValue": "={{ $json.booking_intent }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Booking Intent"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Intent (GCE Fallback)"
        }
      },
      "id": "l2-intent-router",
      "name": "L2 Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        900,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BOT_ENGINE_URL || 'http://bot-engine:3001' }}/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"session_id\": $json.session_id, \"message\": $json.text, \"channel\": $json.channel, \"sender_id\": $json.sender_id, \"hotel_slug\": $json.hotel_slug, \"lang\": $json.lang, \"order_intent\": $json.order_intent, \"service_intent\": $json.service_intent, \"booking_intent\": $json.booking_intent } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bot-engine-proxy-l2",
      "name": "Bot Engine Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const botResp = $input.item.json;\nconst reply = botResp.reply || null;\nconst ignored = botResp.ignored || false;\nconst agent_joining = botResp.agent_joining || false;\nconst origData = $('Extract AI Reply').item.json;\nreturn { json: { ...origData, reply: reply, ignored: ignored, agent_joining: agent_joining } };"
      },
      "id": "extract-reply-l2",
      "name": "Extract Bot Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Message": {
      "main": [
        [
          {
            "node": "Validate Webhook Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Signature": {
      "main": [
        [
          {
            "node": "Signature Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Gate": {
      "main": [
        [
          {
            "node": "Signature Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Rate Limit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Gate": {
      "main": [
        [
          {
            "node": "Rate Limit Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Feedback Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback Pending": {
      "main": [
        [
          {
            "node": "Feedback Due Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Due Gate": {
      "main": [
        [
          {
            "node": "Prepare Feedback Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalise Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Feedback Request": {
      "main": [
        [
          {
            "node": "Save Feedback Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Feedback Response": {
      "main": [
        []
      ]
    },
    "Feedback Channel Router": {
      "main": [
        [
          {
            "node": "Widget Feedback Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Feedback Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Feedback Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tawkto Feedback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Message": {
      "main": [
        [
          {
            "node": "Fetch Hotel Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hotel Info": {
      "main": [
        [
          {
            "node": "Fetch FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FAQ": {
      "main": [
        [
          {
            "node": "Fetch Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Rooms": {
      "main": [
        [
          {
            "node": "Aggregate Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sheet Data": {
      "main": [
        [
          {
            "node": "Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Language": {
      "main": [
        [
          {
            "node": "Load Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation History": {
      "main": [
        [
          {
            "node": "Extract History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract History": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Reply": {
      "main": [
        [
          {
            "node": "L2 Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Message Event": {
      "main": [
        [
          {
            "node": "Save Guest Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Guest Message": {
      "main": [
        [
          {
            "node": "Save Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Bot Reply": {
      "main": [
        [
          {
            "node": "Feedback Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Scheduler": {
      "main": [
        [
          {
            "node": "Lead Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Gate": {
      "main": [
        [
          {
            "node": "Write Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handoff Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Lead": {
      "main": [
        [
          {
            "node": "Handoff Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff Router": {
      "main": [
        [
          {
            "node": "Send Handoff Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Channel Reply Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Handoff Email": {
      "main": [
        [
          {
            "node": "Restore Handoff Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Handoff Data": {
      "main": [
        [
          {
            "node": "Handoff Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff Channel Router": {
      "main": [
        [
          {
            "node": "Widget Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tawkto Handoff Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Reply Router": {
      "main": [
        [
          {
            "node": "Widget Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tawkto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L2 Intent Router": {
      "main": [
        [
          {
            "node": "Bot Engine Proxy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot Engine Proxy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bot Engine Proxy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lead Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Engine Proxy": {
      "main": [
        [
          {
            "node": "Extract Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Bot Reply": {
      "main": [
        [
          {
            "node": "Handoff Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f618be9a-2ecd-4815-b30b-a70e1bffd33a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2a9f94e8ff18ebbb23dc0eeacfa23fe29b5024279954537c9be32734e13a314"
  },
  "id": "hcaHotelChatbotWorkflow",
  "tags": []
}