base/n8n-workflows/level1.json
{
  "name": "Level 1 — Hotel Chatbot v3 (Handoff + Lead Capture)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b79fa8fa-733c-46c8-b540-376992dfc168",
      "name": "Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2576,
        176
      ],
      "webhookId": "c0be9919-f866-4cfd-9a21-5fa374dd085c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body || {};\nconst query = $input.item.json.query || {};\nconst channel = body.channel || query.channel || \"unknown\";\nlet sender_id, text, lang;\nif (channel === \"website_widget\") {\n  sender_id = body.session_id;\n  text = (body.message || \"\").trim();\n  lang = body.lang || \"en\";\n} else if (channel === \"whatsapp\") {\n  sender_id = body.From || body.from;\n  text = (body.Body || body.body || \"\").trim();\n  lang = \"en\";\n} else if (channel === \"instagram\" || channel === \"facebook\") {\n  const entry = body.entry && body.entry[0];\n  const messaging = entry && (entry.messaging || (entry.changes && entry.changes[0] && entry.changes[0].value && entry.changes[0].value.messages));\n  const msg = messaging && messaging[0];\n  sender_id = msg && (msg.sender && msg.sender.id || msg.from);\n  text = (msg && msg.message && msg.message.text || \"\").trim();\n  lang = \"en\";\n} else if (channel === \"tawkto\") {\n  sender_id = body.chatId || (body.visitor && body.visitor.name);\n  text = (body.message && (body.message.text || body.message) || \"\").trim();\n  lang = \"en\";\n} else {\n  sender_id = \"unknown\";\n  text = (body.message || \"\").trim();\n  lang = \"en\";\n}\nreturn { json: {\n  session_id: body.session_id || sender_id || \"unknown\",\n  sender_id: sender_id || \"unknown\",\n  text: text,\n  channel: channel,\n  lang: lang,\n  hotel_slug: body.hotel_slug || \"hotel\",\n  timestamp: new Date().toISOString()\n} };"
      },
      "id": "a59e1098-08db-4dc2-b240-4c70a04bdff6",
      "name": "Normalise Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "hotel_info",
          "mode": "name"
        },
        "options": {}
      },
      "id": "3f81c58d-ecd0-4259-909d-ccbb0944c754",
      "name": "Fetch Hotel Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2128,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "faq"
        },
        "options": {}
      },
      "id": "c4de658d-5edf-46d2-8d7e-226982694480",
      "name": "Fetch FAQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1904,
        176
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "rooms"
        },
        "options": {}
      },
      "id": "567e9c7a-ac5a-4007-b654-1c7991554e53",
      "name": "Fetch Rooms",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1680,
        176
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgData = $(\"Normalise Message\").first().json;\nconst hotelInfoItems = $(\"Fetch Hotel Info\").all();\nconst hotelInfo = {};\nfor (const item of hotelInfoItems) {\n  if (item.json.key && item.json.value !== undefined) {\n    hotelInfo[item.json.key] = String(item.json.value);\n  }\n}\nconst faqItems = $(\"Fetch FAQ\").all();\nconst faqs = faqItems\n  .filter(function(i) {\n    return i.json.active === true || i.json.active === \"TRUE\" || i.json.active === \"true\";\n  })\n  .map(function(i) {\n    return { category: i.json.category, question: i.json.question, answer: i.json.answer };\n  });\nconst roomItems = $(\"Fetch Rooms\").all();\nconst rooms = roomItems\n  .filter(function(i) {\n    return i.json.available === true || i.json.available === \"TRUE\" || i.json.available === \"true\";\n  })\n  .map(function(i) {\n    return { type: i.json.type, rate: i.json.rate_per_night, capacity: i.json.capacity, description: i.json.description, amenities: i.json.amenities };\n  });\nreturn [{ json: {\n  session_id: msgData.session_id,\n  sender_id: msgData.sender_id,\n  text: msgData.text,\n  channel: msgData.channel,\n  lang: msgData.lang,\n  hotel_slug: msgData.hotel_slug,\n  timestamp: msgData.timestamp,\n  hotelInfo: hotelInfo,\n  faqs: faqs,\n  rooms: rooms\n} }];"
      },
      "id": "c86e52d4-8797-4522-a549-0152a627775f",
      "name": "Aggregate Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json || {};\nconst text = String(data.text || '');\n\nif (text.trim().length < 3) {\n  return { json: { ...data, lang: data.lang || 'en' } };\n}\n\n// STEP 1: Unicode range detection (non-Latin scripts — near 100% accurate)\nconst scriptRanges = [\n  { lang: 'ar', regex: /[\\u0600-\\u06FF]/ },\n  { lang: 'zh', regex: /[\\u4E00-\\u9FFF\\u3400-\\u4DBF]/ },\n  { lang: 'ja', regex: /[\\u3040-\\u309F\\u30A0-\\u30FF]/ },\n  { lang: 'ko', regex: /[\\uAC00-\\uD7AF]/ },\n  { lang: 'ru', regex: /[\\u0400-\\u04FF]/ },\n  { lang: 'th', regex: /[\\u0E00-\\u0E7F]/ },\n  { lang: 'he', regex: /[\\u0590-\\u05FF]/ },\n  { lang: 'el', regex: /[\\u0370-\\u03FF]/ },\n  { lang: 'hi', regex: /[\\u0900-\\u097F]/ },\n];\nfor (const script of scriptRanges) {\n  if (script.regex.test(text)) {\n    return { json: { ...data, lang: script.lang } };\n  }\n}\n\nconst tLower = text.toLowerCase();\n\n// STEP 2: Tier 1 — unique multi-word phrases (1 match = definite detection)\n// These phrases are impossible in English\nconst tier1 = {\n  fr: [\"bonjour\",\"bonsoir\",\"merci beaucoup\",\"s'il vous\",\"je voudrais\",\"je suis\",\"chambre disponible\",\"comment allez\",\"bienvenue\",\"qu'est-ce\"],\n  es: [\"hola\",\"buenos dias\",\"buenas tardes\",\"buenas noches\",\"gracias\",\"habitacion\",\"desayuno incluido\",\"por favor\",\"como estas\"],\n  de: [\"guten morgen\",\"guten tag\",\"guten abend\",\"danke schon\",\"ich mochte\",\"wie viel kostet\",\"zimmer frei\",\"auf wiedersehen\"],\n  it: [\"buongiorno\",\"buonasera\",\"grazie mille\",\"vorrei prenotare\",\"camera disponibile\",\"buona notte\",\"prego\"],\n  pt: [\"bom dia\",\"boa tarde\",\"boa noite\",\"obrigado\",\"obrigada\",\"quarto disponivel\",\"cafe da manha\",\"bem-vindo\"],\n  nl: [\"goedemorgen\",\"goedemiddag\",\"dank u wel\",\"kamer beschikbaar\",\"alstublieft\",\"goedenavond\"],\n  tr: [\"gunaydin\",\"iyi aksamlar\",\"tesekku ederim\",\"oda musait\",\"rezervasyon yapmak\",\"hosgeldiniz\"],\n};\nfor (const lang in tier1) {\n  for (const phrase of tier1[lang]) {\n    if (tLower.includes(phrase)) {\n      return { json: { ...data, lang: lang } };\n    }\n  }\n}\n\n// STEP 3: Tier 2 — weighted function words (min 3 matches required to avoid false positives)\n// Words chosen to NOT overlap with common English words\nconst tier2 = {\n  fr: ['les','est','qui','que','pour','avec','nous','vous','ils','elles','une','des','pas','sur','tres','mais','donc','bien','tout','alors','cette','aussi','quoi','quel','quelle','notre','votre','leur'],\n  es: ['los','las','del','para','con','pero','hay','muy','como','cuando','donde','porque','tambien','todo','este','esta','tiene','tienen','hacer','nosotros','vosotros','ellos','ellas'],\n  de: ['und','ist','nicht','auch','noch','dann','beim','nach','mehr','kann','will','sind','war','wird','habe','haben','mein','meine','keine','ihnen','ihrer','seine','unsere'],\n  it: ['gli','sono','hanno','questo','questa','tutto','tutti','come','dove','quando','anche','pero','cosi','molto','bene','loro','siamo','avere','essere','nostro','vostro'],\n  pt: ['sao','tem','com','por','para','tambem','quando','como','tudo','muito','aqui','nosso','nossa','voce','voces','eles','elas','sera','estar','fazer'],\n  nl: ['het','zijn','heeft','niet','ook','meer','dan','nog','maar','want','omdat','toen','voor','door','over','naar','uit','bij','aan','van','wij','zij','jullie'],\n  tr: ['var','yok','icin','gibi','ama','daha','cok','nasil','nerede','zaman','cunku','birlikte','hepsi','hic','bile','sadece','kadar','butun','olmak','etmek'],\n};\nconst wordTokens = tLower.split(/\\s+/);\nconst scores = {};\nfor (const lang in tier2) {\n  let score = 0;\n  for (const word of wordTokens) {\n    const clean = word.replace(/[^a-z\\u00e0-\\u017e]/gi, '');\n    if (tier2[lang].includes(clean)) score++;\n  }\n  scores[lang] = score;\n}\nconst THRESHOLD = 3;\nlet bestLang = 'en';\nlet bestScore = 0;\nfor (const lang in scores) {\n  if (scores[lang] >= THRESHOLD && scores[lang] > bestScore) {\n    bestScore = scores[lang];\n    bestLang = lang;\n  }\n}\nreturn { json: { ...data, lang: bestLang } };"
      },
      "id": "efa46f2c-8252-4808-b82c-e57450b8e78e",
      "name": "Detect Language",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json || {};\nconst hi = data.hotelInfo || {};\nconst faqs = data.faqs || [];\nconst rooms = data.rooms || [];\nconst sym = hi.currency_symbol || '';\n\nconst faqText = faqs.length > 0\n  ? faqs.map(function(f) { return 'Q: ' + f.question + '\\nA: ' + f.answer; }).join('\\n\\n')\n  : 'No specific FAQs configured.';\n\nconst roomsText = rooms.length > 0\n  ? rooms.map(function(r) {\n      return '- ' + r.type + ': ' + sym + r.rate + '/night, sleeps ' + r.capacity + '. ' + r.description + ' Amenities: ' + r.amenities;\n    }).join('\\n')\n  : 'Room information not available.';\n\nconst systemPrompt =\n  'You are the friendly concierge assistant for ' + (hi.hotel_name || 'our hotel') + '. You help guests warmly and professionally.\\n\\n' +\n  'HOTEL DETAILS:\\n' +\n  'Name: ' + (hi.hotel_name || '') + '\\n' +\n  'Address: ' + (hi.address || '') + '\\n' +\n  'Phone: ' + (hi.phone || '') + '\\n' +\n  'Check-in: ' + (hi.checkin_time || '') + '\\n' +\n  'Check-out: ' + (hi.checkout_time || '') + '\\n' +\n  'Booking URL: ' + (hi.booking_url || '') + '\\n' +\n  'WhatsApp: ' + (hi.whatsapp_number || '') + '\\n\\n' +\n  'AVAILABLE ROOMS:\\n' + roomsText + '\\n\\n' +\n  'FREQUENTLY ASKED QUESTIONS:\\n' + faqText + '\\n\\n' +\n  'RESPONSE INSTRUCTIONS:\\n' +\n  '- Be warm, conversational, and genuinely helpful. Never sound robotic or scripted.\\n' +\n  '- Only answer using hotel information above. Never invent or assume details.\\n' +\n  '- Keep replies concise (2-4 sentences) unless more detail is genuinely needed.\\n' +\n  '- For bookings, direct guest to ' + (hi.booking_url || 'our website') + ' or WhatsApp ' + (hi.whatsapp_number || '') + '.\\n' +\n  '- If you cannot answer from the information given, warmly say so and offer the phone number: ' + (hi.phone || '') + '.\\n\\n' +\n  'LEAD CAPTURE INSTRUCTIONS:\\n' +\n  '- When a guest asks about rooms, availability, prices, or bookings, naturally and warmly collect: their full name, email address, phone number (optional), check-in date, and check-out date. Collect one piece at a time — never ask for everything at once.\\n' +\n  '- Once you have at minimum a name AND one contact method (email or phone), append the following on a brand new line at the very END of your response. The guest will NEVER see this tag — it is stripped before delivery:\\n' +\n  '[LEAD: name=Full Name, email=email@example.com, phone=+1234567890, checkin=YYYY-MM-DD, checkout=YYYY-MM-DD]\\n' +\n  '- Only include fields you have actually collected. Omit fields you do not have. Never fabricate lead data.\\n' +\n  '- Only append the [LEAD] tag once you have at minimum name + email OR phone.\\n\\n' +\n  'HANDOFF INSTRUCTIONS:\\n' +\n  '- If the guest explicitly asks to speak to a human, agent, manager, or real person: begin your response with exactly [HANDOFF_REQUIRED] then write a warm holding message. Example: [HANDOFF_REQUIRED] Of course! Let me connect you with a member of our team right away — please hold for just a moment.\\n' +\n  '- If the guest expresses clear frustration, anger, or serious complaint: begin with [HANDOFF_REQUIRED] and acknowledge warmly.\\n' +\n  '- If the request is legal, medical, or operationally beyond your scope: begin with [HANDOFF_REQUIRED].\\n' +\n  '- In ALL other cases, do NOT include [HANDOFF_REQUIRED] in your response.\\n\\n' +\n  '- Guest language detected: ' + (data.lang || 'en') + '. If not English, reply in the detected language.';\n\nreturn { json: { ...data, systemPrompt: systemPrompt } };"
      },
      "id": "2a274998-9063-4d1d-b7e7-53c7ea270242",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Build System Prompt').item.json.text }}",
        "options": {
          "systemMessage": "={{ $('Build System Prompt').item.json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -784,
        176
      ],
      "id": "5f4df27f-abc5-4dd8-8be9-e23c7751dc44",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -776,
        400
      ],
      "id": "fd3d4d77-33d2-4333-a667-7fe1a769545e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uRHZ9bVcC1FFDAji",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_id"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -648,
        400
      ],
      "id": "4bf6da2e-47d7-4be6-a7de-6b1a9316899b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agentRaw = $input.item.json;\nconst origData = $('Build System Prompt').item.json;\n\n// Parse AI output — LangChain Agent outputs to 'output' field\nlet rawContent = null;\nif (agentRaw.output !== undefined && agentRaw.output !== null && String(agentRaw.output).trim() !== '') {\n  rawContent = String(agentRaw.output);\n} else if (agentRaw.choices) {\n  rawContent = (agentRaw.choices[0] && agentRaw.choices[0].message && agentRaw.choices[0].message.content) || null;\n} else if (agentRaw.data && agentRaw.data.choices) {\n  rawContent = (agentRaw.data.choices[0] && agentRaw.data.choices[0].message && agentRaw.data.choices[0].message.content) || null;\n} else if (typeof agentRaw.data === 'string') {\n  try { rawContent = JSON.parse(agentRaw.data).choices[0].message.content; } catch(e) {}\n}\n\nconst fallbackReply = \"I apologize, I'm having a technical issue right now. Please contact us at \" +\n  ((origData.hotelInfo && origData.hotelInfo.phone) || 'reception') + ' and we will be happy to help.';\n\nlet reply = rawContent || fallbackReply;\n\n// ── Parse HANDOFF tag ────────────────────────────────────────────────────────\nlet handoff_required = false;\nif (reply.includes('[HANDOFF_REQUIRED]')) {\n  handoff_required = true;\n  reply = reply.replace('[HANDOFF_REQUIRED]', '').trim();\n}\n\n// Keyword safety net — catches explicit requests the AI may have missed\nconst guestText = (origData.text || '').toLowerCase();\nconst humanKeywords = [\n  'speak to someone','talk to someone','human please','real person',\n  'live agent','speak with a person','customer service','manager please',\n  'need a human','want to speak','talk to a person','let me speak',\n  'speak to a manager','talk to manager','speak to staff','transfer me'\n];\nif (!handoff_required && humanKeywords.some(function(kw) { return guestText.includes(kw); })) {\n  handoff_required = true;\n  reply = \"Of course! Let me connect you with a member of our team right away. Please hold for just a moment — they'll be with you shortly.\";\n}\n\n// ── Parse LEAD tag ────────────────────────────────────────────────────────────\nlet lead_captured = false;\nlet lead_data = null;\nconst leadMatch = reply.match(/\\[LEAD:\\s*([^\\]]+)\\]/);\nif (leadMatch) {\n  lead_captured = true;\n  const parts = leadMatch[1];\n  const extract = function(key) {\n    const m = parts.match(new RegExp(key + '=([^,\\\\]]+)'));\n    return m ? m[1].trim() : null;\n  };\n  lead_data = {\n    name: extract('name'),\n    email: extract('email'),\n    phone: extract('phone'),\n    checkin: extract('checkin'),\n    checkout: extract('checkout'),\n  };\n  // Strip tag — guest never sees it\n  reply = reply.replace(/\\[LEAD:[^\\]]+\\]/g, '').trim();\n}\n\nreturn {\n  json: {\n    session_id: origData.session_id,\n    sender_id: origData.sender_id,\n    channel: origData.channel,\n    lang: origData.lang,\n    hotel_slug: origData.hotel_slug,\n    hotelInfo: origData.hotelInfo || {},\n    text: origData.text || '',\n    timestamp: origData.timestamp || new Date().toISOString(),\n    reply: reply,\n    handoff_required: handoff_required,\n    lead_captured: lead_captured,\n    lead_data: lead_data,\n  }\n};"
      },
      "id": "8f08e225-1668-4234-a538-983617693a46",
      "name": "Extract AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_captured }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "lead-captured-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lead Captured"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Lead"
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Lead Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1QRF_eAKvT2q1e4gsXU0emlm7c8SOv__EzWCgu-cW2bw"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "hotel_slug": "={{ $json.hotel_slug }}",
            "name": "={{ $json.lead_data && $json.lead_data.name || '' }}",
            "email": "={{ $json.lead_data && $json.lead_data.email || '' }}",
            "phone": "={{ $json.lead_data && $json.lead_data.phone || '' }}",
            "checkin": "={{ $json.lead_data && $json.lead_data.checkin || '' }}",
            "checkout": "={{ $json.lead_data && $json.lead_data.checkout || '' }}",
            "channel": "={{ $json.channel }}",
            "timestamp": "={{ $json.timestamp || new Date().toISOString() }}",
            "status": "captured"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Write Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhtrLrn8H1EVcDH4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract AI Reply').item.json.handoff_required }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "handoff-check"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs Handoff"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "No Handoff"
        }
      },
      "id": "1076a3e1-340e-436b-b93d-cdd363ce148c",
      "name": "Handoff Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16,
        176
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@youragency.com",
        "toEmail": "={{ $('Extract AI Reply').item.json.hotelInfo && $('Extract AI Reply').item.json.hotelInfo.rep_email || '' }}",
        "subject": "={{ '\\ud83d\\udea8 Guest Needs Assistance \\u2014 ' + $('Extract AI Reply').item.json.hotel_slug + ' | ' + $('Extract AI Reply').item.json.channel }}",
        "emailType": "html",
        "message": "={{ '<div style=\"font-family:Arial,sans-serif;max-width:600px;padding:20px;\"><h2 style=\"color:#d32f2f;\">Guest Needs Assistance</h2><table style=\"width:100%;border-collapse:collapse;\"><tr><td style=\"padding:10px;background:#f5f5f5;font-weight:bold;width:130px;\">Hotel</td><td style=\"padding:10px;border-bottom:1px solid #eee;\">' + $(\\'Extract AI Reply\\').item.json.hotel_slug + '</td></tr><tr><td style=\"padding:10px;background:#f5f5f5;font-weight:bold;\">Channel</td><td style=\"padding:10px;border-bottom:1px solid #eee;\">' + $(\\'Extract AI Reply\\').item.json.channel + '</td></tr><tr><td style=\"padding:10px;background:#f5f5f5;font-weight:bold;\">Session ID</td><td style=\"padding:10px;border-bottom:1px solid #eee;\">' + $(\\'Extract AI Reply\\').item.json.session_id + '</td></tr><tr><td style=\"padding:10px;background:#f5f5f5;font-weight:bold;\">Guest Message</td><td style=\"padding:10px;border-bottom:1px solid #eee;\">' + $(\\'Extract AI Reply\\').item.json.text + '</td></tr><tr><td style=\"padding:10px;background:#f5f5f5;font-weight:bold;\">Bot Reply</td><td style=\"padding:10px;border-bottom:1px solid #eee;\">' + $(\\'Extract AI Reply\\').item.json.reply + '</td></tr><tr><td style=\"padding:10px;background:#f5f5f5;font-weight:bold;\">Time</td><td style=\"padding:10px;\">' + $(\\'Extract AI Reply\\').item.json.timestamp + '</td></tr></table><p style=\"margin-top:20px;padding:14px;background:#fff3e0;border-left:4px solid #ff9800;\">Please join the guest on <strong>' + $(\\'Extract AI Reply\\').item.json.channel + '</strong>. Session: <strong>' + $(\\'Extract AI Reply\\').item.json.session_id + '</strong></p></div>' }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Send Handoff Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        240,
        -80
      ],
      "notesInFlow": true,
      "notes": "Configure SMTP credentials in n8n Credentials. Add rep_email row to hotel_info Google Sheet.",
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_SMTP",
          "name": "Hotel SMTP"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Email node response discarded — restore clean guest data from Extract AI Reply\nconst orig = $('Extract AI Reply').item.json;\nreturn { json: orig };"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Restore Handoff Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "website_widget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-widget"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Website Widget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-whatsapp"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-meta_ig"
                  },
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-meta_fb"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "tawkto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "hcr-tawkto"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tawkto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unknown Channel"
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Handoff Channel Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        720,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('Extract AI Reply').item.json.reply, \"handoff\": true, \"agent_joining\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Widget Handoff Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Twilio URL: https://api.twilio.com/2010-04-01/Accounts/YOUR_SID/Messages.json__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Extract AI Reply').item.json.sender_id }}"
            },
            {
              "name": "From",
              "value": "<__PLACEHOLDER_VALUE__Your Twilio WhatsApp number e.g. whatsapp:+14155238886__>"
            },
            {
              "name": "Body",
              "value": "={{ $('Extract AI Reply').item.json.reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "WhatsApp Handoff Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"recipient\": { \"id\": $('Extract AI Reply').item.json.sender_id }, \"message\": { \"text\": $('Extract AI Reply').item.json.reply } } }}",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Meta Handoff Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.tawk.to/v1/chat/' + $('Extract AI Reply').item.json.sender_id + '/message' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Extract AI Reply').item.json.reply, \"type\": \"msg\" } }}",
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Tawkto Handoff Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "website_widget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-widget"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Widget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-whatsapp"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-ig"
                  },
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-fb"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Extract AI Reply\").item.json.channel }}",
                    "rightValue": "tawkto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "crr-tawkto"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tawkto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Unknown Channel"
        }
      },
      "id": "0e26d558-c14e-461a-b611-dfdbd0b25fa1",
      "name": "Channel Reply Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('Extract AI Reply').item.json.reply } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d051623e-acfd-4b92-8c68-6476238bca99",
      "name": "Widget Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Twilio URL: https://api.twilio.com/2010-04-01/Accounts/YOUR_SID/Messages.json__>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Extract AI Reply').item.json.sender_id }}"
            },
            {
              "name": "From",
              "value": "<__PLACEHOLDER_VALUE__Your Twilio WhatsApp number e.g. whatsapp:+14155238886__>"
            },
            {
              "name": "Body",
              "value": "={{ $('Extract AI Reply').item.json.reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "54b4ea68-70af-42c3-be22-659e50246a0d",
      "name": "WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"recipient\": { \"id\": $('Extract AI Reply').item.json.sender_id }, \"message\": { \"text\": $('Extract AI Reply').item.json.reply } } }}",
        "options": {}
      },
      "id": "ff59b325-e0c0-437d-9500-6128c0888404",
      "name": "Meta Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.tawk.to/v1/chat/' + $('Extract AI Reply').item.json.sender_id + '/message' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Extract AI Reply').item.json.reply, \"type\": \"msg\" } }}",
        "options": {}
      },
      "id": "301e6686-28da-4a80-b265-1651f85e58e5",
      "name": "Tawkto Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        464
      ]
    }
  ],
  "pinData": {
    "Receive Message": [
      {
        "json": {
          "headers": {
            "host": "devworksenterprise.app.n8n.cloud",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "session_id": "test_001",
            "hotel_slug": "Raddison Blu Hotels & Co.",
            "message": "I'll be pulling up around the block in about an hour. What rooms or suites do you have available. Besides, i'll be coming in with a guest and a dog, is there anything i need to know about this before hand?",
            "channel": "website_widget"
          },
          "webhookUrl": "https://devworksenterprise.app.n8n.cloud/webhook-test/hotel-chatbot",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Receive Message": {
      "main": [
        [
          {
            "node": "Normalise Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Message": {
      "main": [
        [
          {
            "node": "Fetch Hotel Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hotel Info": {
      "main": [
        [
          {
            "node": "Fetch FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FAQ": {
      "main": [
        [
          {
            "node": "Fetch Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Rooms": {
      "main": [
        [
          {
            "node": "Aggregate Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Sheet Data": {
      "main": [
        [
          {
            "node": "Detect Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Language": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Reply": {
      "main": [
        [
          {
            "node": "Lead Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Gate": {
      "main": [
        [
          {
            "node": "Write Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handoff Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Lead": {
      "main": [
        [
          {
            "node": "Handoff Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff Router": {
      "main": [
        [
          {
            "node": "Send Handoff Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Channel Reply Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Handoff Email": {
      "main": [
        [
          {
            "node": "Restore Handoff Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Handoff Data": {
      "main": [
        [
          {
            "node": "Handoff Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff Channel Router": {
      "main": [
        [
          {
            "node": "Widget Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Handoff Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tawkto Handoff Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Reply Router": {
      "main": [
        [
          {
            "node": "Widget Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tawkto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bea56d0b-7426-4b4e-9409-0bb6a2595616",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2a9f94e8ff18ebbb23dc0eeacfa23fe29b5024279954537c9be32734e13a314"
  },
  "id": "xywo63asGfQRRxp4",
  "tags": []
}